.background-image {
  width: 100%;
  height: 250px;
  background: transparent url("../assets/Background.png") no-repeat center/cover;
}

.opening {
  @include letFlex(column, center, center);
  padding-bottom: 4em;
  .opening-h2 {
    position: relative;
    z-index: -200;
  }
  h2 {
    margin-top: 2.5em;
    margin-bottom: 1.25em;
    text-align: center;
    font-family: $raleway;
    font-size: 2.6em;
    z-index: -200;
  }
  p {
    font-family: $openSans;
    text-align: center;
    width: 300px;
  }
  a {
    width: 100%;
    max-width: 310px;
    background-color: $colorMain;
    display: inline-block;
    text-align: center;
    margin-top: 1.5em;
    padding: 1.2em 0;
    border-radius: 2em;
    color: white;
    font-family: $openSans;
    font-weight: bold;
    margin-bottom: 4em;
    text-decoration: none;
  }
}